body {
    font-family: 'Times New Roman', Times, serif;
}

button {
    height: 5rem;
    width: 5rem;
    border-radius: 1rem;
    font-size: 2rem;
    background-color: #bdbdc8;
    border: 0;
}

button, .calc-box, .all-displays {
    border: 1px solid black;
}

button:active{ 
    transform: scale(0.98); 
    /* Scaling button to 0.98 to its original size */ 
    box-shadow: 3px 2px 22px 1px rgba(0, 0, 0, 0.24); 
    /* Lowering the shadow */ 
} 

#plus, #minus, #times, #divided, #power {
    background-color: #828193;
}

#clear, #backspace, #equal {
    background-color: #7f91f5;
}

.title {
    font-size: 2rem;
}

.display, .small-display {
    text-align: right;
    width: 28rem;
}

.display {
    font-size: 2rem;
    height: 2.31rem;
}

.small-display {
    font-size: 1.5rem;
    height: 1.7rem;
}

.all-displays {
    display: flex;
    align-items: center;
    flex-direction: column;
    padding: 1rem;
    margin: 1rem;
    background-color: #d0e0df;
    border-radius: 0.5rem;
}

.container {
    display: flex;
    justify-content: center;
}

.calc-box{
    display: flex;
    align-items: center;
    flex-direction: column;
    margin: 1rem;
    padding: 2rem 1rem;
    background-color: #8a8cb2;
    border-radius: 1rem;
}

.numbers-box, .operations-box {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.button-line {
    display: flex;
    gap: 1rem;
}

.button-line, .numbers-box, .operations-box {
    gap: 1rem;
}

.buttons-box {
    display: flex;
    justify-content: center;
    gap: 2rem;
}